*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;
  background-color: #3F4B4E;
  color: #E0E2E4;
  font-weight: 500;
}

header, footer {
  margin: 5px 0 5px 0;
}

h1, h2, h3, h4 {
  color: #BFBFBF;
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
}

section.content {
  background-color: #232c31;
  border-top: 1px solid #81969A;
  border-bottom: 1px solid #81969A;
}

section.parallax {
  background-color: #000000;
  background-image: url("darkgraph.png");
}

.border-dashed {
  width: 100%;
  border: 1px dotted #81969A;
}

.name-logo-div {
  display: block;
  text-align: center;
}

.text-thin {
  font-weight: 300;
}

.title-super {
  font-size: 50px;
}

img.my-picture {
  display: block;
  margin: 5% auto 5% auto;
  max-width: 40%;
  border: 2px dotted #BFBFBF;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

img.my-picture:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.name {
  margin: auto auto 5% auto;
  text-shadow: 2px 2px 6px #BFBFBF;
}

a {
  color: #0080ff;
  text-decoration: none;
}

a:hover {
  color: #0080ff;
  text-decoration: none;
}

a #projectPic {
  opacity: .7;
}

a:hover #projectPic {
  opacity: 1;
}

#projectPic {
  max-width: 100%;
}

.intro {
  margin: 0 5% 0 5%;
  padding: 0;
  color: #c0c0c0;
}

.featured_work {
  text-align: center;
  margin-left: 2.5%;
  text-shadow: 2px 2px 6px #105c70;
}

/*=============
=  Icon links =
=============*/

.buttons {
    float: left;
    margin-left: calc((100% - 155.4px) / 2);
}

.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  background-color: #595959;
  z-index: 0;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.home {
  background: url("home2.png");
  background-image: url("home2.png");
  background-size: 100%;
  background-position: 0 0;
}

.home:hover {
  background-position: 0 -50px;
}

.github {
  background: url("github2.png");
  background-image: url("github2.png");
  background-size: 100%;
  background-position: 0 0;
  z-index: inherit;
}

.github:hover {
  background-position: 0 -50px;
}

.linkedin {
  background: url("linkedin2.png");
  background-image: url("linkedin2.png");
  background-size: 100%;
  background-position: 0 0;
  z-index: inherit;
}

.linkedin:hover {
  background-position: 0 -50px;
}

/*====================
= end of icon styles =
====================*/

.slides {
  text-align: center;
  max-width: 80%;
  margin: 10%;
}

.project-slide {
  margin: 0 2.5px;
  background: #232c31;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.project-slide:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.project-url {
  word-wrap: break-word;
}

.slick-dots li button:before
{
  opacity: .25;
  color: white;
}

.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: white;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

	/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */

@media only screen and (min-width : 480px) {

body {
  width: 100%;
}

}

/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {

body {
  width: 80%;
  margin: 0 10% 0 10%;
  }

.name-logo-div {
  text-align: left;
  width: 100%;
}

.my-picture {
  max-width: 50%;
}

img.my-picture {
  float: left;
  margin: 10% 0 10% 10%;
  max-width: 100%;
}

.name {
  float: right;
  margin: 5% 0 5% 0;
  max-width: 50%;
}

.name h1 {
  font-size: 46px;
}

header {
  text-align: right;
}

h2 {
  text-align: left;
}

.featured_work {
  text-align: left;
}

.slides {
  max-width: 80%;
  margin: 10%;
}

}

/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {

body {
  width: 70%;
  margin: 0 15% 0 15%;
}

}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {


}
