section#back {
	width: auto;
	overflow: hidden;
	background: #1e2124;
	position: relative;
	z-index: 0;
}



#cloud-1,
#cloud-2,
#cloud-3,
#cloud-4,
#cloud-5,
#cloud-6,
#cloud-7,
#cloud-8,
#cloud-9 {
	position: absolute;
	display: none;
	z-index: 0;
}

#cloud-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 3000px;
	overflow: hidden;
}

.force-show {
	display: block !important;
}
