html, body {
	background: #000000;
	font: 300 1em 'Source Code Pro', Geneva, sans-serif;
	color: #00e600;
	margin: 0;
	text-shadow: 1px 1px gray;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section.content {
	width: 100%;
}

section.parallax {
  max-height: 400px;
  background-position: 50% 50%;
  background-image: url("graphy-inv-g.png");
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-background-size: fill;
  -moz-background-size: fill;
  -o-background-size: fill;
  background-size: fill;
}

section.parallax:last-child {
  max-height: 2000px;
}

.text-muted {
	color: #00cc00;
}

.text-thin {
	font-weight: 200;
}

.title-super {
	font-size: 60px;
}

a {
	color: #00cc00;
	text-decoration: none;
}

a:hover {
	color: #4dff4d;
	text-decoration: none;
}

.logo {
	max-width: 8em;
	background: black;
	border: 5px solid #ff6322;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 15px 0 0 0;
}

#projectPic {
	border: 1px solid #00e600;
}

header {
	text-align: center;
}

h2 {
	text-align: center;
}

@media (min-width: 768px) {

	body {
		width: 80%;
		margin: 0 10% 0 10%;
	}

	.logo {
		margin: 15px 0 15px 0;
		float: left;
	}

	header {
		text-align: right;
	}

	h2 {
		text-align: left;
	}

}

@media (min-width: 992px) {

	.logo {
		max-width: 10em;
	}

}