html, body {
	background: #000000;
	font: 300 1em 'Source Code Pro', Geneva, sans-serif;
	color: Gold;
	margin: 0;
	text-shadow: 1px 1px black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section.content {
	width: 100%;
}

section.parallax {
background-color:#262626;
background-image:
radial-gradient(#262626 85%, transparent 10%),
linear-gradient(#ac9e53 2px, transparent 2px),
linear-gradient(90deg, #ac9e53 2px, transparent 2px),
linear-gradient(#8c8c8c 1px, transparent 1px),
linear-gradient(90deg, #8c8c8c 1px, transparent 1px);
background-size: 20px 20px, 10px 100px, 100px 10px, 20px 20px, 20px 20px;
background-position: -1px -1px, -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.text-muted {
	color: #c6b039;
}

.text-thin {
	font-weight: 200;
}

.title-super {
	font-size: 60px;
}

a {
	color: #ecca13;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:hover #projectPic {
	border: 2px solid #ecca13;
	border-bottom: 5px solid #ecca13;
}

a:hover h3 {
	color: black;
	background-color: #fff3b3;
	text-shadow: 1px 1px #cce5ff;

}

.logo {
	max-width: 8em;
	background: black;
	border: 5px solid #ff6322;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 15px 0 0 0;
}

#projectPic {
	border: 1px solid #ecca13;
}

header {
	text-align: center;
}

h2 {
	text-align: center;
}

@media (min-width: 768px) {

	body {
		width: 80%;
		margin: 0 10% 0 10%;
	}

	.logo {
		margin: 15px 0 15px 0;
		float: left;
	}

	header {
		text-align: right;
	}

	h2 {
		text-align: left;
	}

	#projects p {
		font-size: 10px;
	}

}

@media (min-width: 992px) {

	.logo {
		max-width: 10em;
	}

}