 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I've updated my portfolio with this nice little theme that I've customized in order to showcase my favorite projects.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have other work on Github that might be in progress, or that just isn't showcase ready. To check out my other work you can look on Github. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/kfmahre" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i> My Github
                    </a>
                </div>
            </div>
        </div>
    </section>