 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/bootstrap.min.js" }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/classie.js" }}"></script>
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/cbpAnimatedHeader.js" }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/jqBootstrapValidation.js" }}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/contact_me_static.js" }}"></script>
    {% else %}
     <script src="{{ "http://kfmahre.github.io/Portfolio/js/contact_me.js" }}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/freelancer.js" }}"></script>

    <!--TweenMax-->
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/TweenMax.min.js" }}"></script>

    <!-- Custom GreenSock animation -->
    <script src="{{ "http://kfmahre.github.io/Portfolio/js/GSanimate.js" }}"></script>

    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}
